global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    option httplog
    timeout client 10s
    timeout connect 5s
    timeout server 10s 
    timeout http-request 10s

frontend https_in
    log 127.0.0.1 local0 notice
    bind *:8088,*:9018,*:9081

    use_backend humans_backend if { dst_port 9018 }
    use_backend teams_backend if { dst_port 9081 }

    default_backend humans_backend

backend humans_backend
    balance roundrobin
    server humans1 host.docker.internal:18018 check ssl verify none
    server humans2 host.docker.internal:18019 check ssl verify none

backend teams_backend
    balance roundrobin
    server teams1 host.docker.internal:18081 check ssl verify none
    server teams2 host.docker.internal:18082 check ssl verify none
