<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="org.apache.kafka">
    <resources>
        <resource-root path="kafka-clients-3.1.2.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.slf4j"/>
        <module name="javax.transaction.api"/> 
        <module name="jdk.unsupported"/> 
    </dependencies>
</module>