.form-container {
  min-width: 20%;
  max-width: 80%;
  max-height: 600px;
  margin: 30px;
  padding: 20px;
  border-left: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  display: grid;
  gap: 10px;
  overflow-x: scroll
}


form {
  display: grid;
  gap: 15px;
}


label {
  display: flex;
  gap: 5px;
}


fieldset {
  display: grid;
  gap: 10px;
}


input:not([type="submit"], [type="hidden"], [type="checkbox"]) {
  width: 100%;
  max-height: fit-content;
}


select {
  width: 100%;
}


td {
  padding: 2px 5px 2px 2px;
  border: 1px solid lightgray;
}

svg:hover {
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}